body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
.result, .weapon-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    width: 80%;
}
.weapon-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weapon-item button {
    margin-left: 5px;
}
.control-buttons {
    margin-top: 10px;
}

.uncommon {
    background-color: lime;
}
.rare {
    background-color: rgba(0, 204, 255, 0.6);
}
.epic {
    background-color: rgba(225, 2, 233, 0.6);
}
.legendary {
    background-color: yellow;
}
